@page "/produtos/novo"

<PageTitle>Produto - Novo</PageTitle>

<h1>Novo Produto</h1>

<div class="row">

    <div class="col">

        <form>
            <div class="form-grounp">

                <label>Nome</label>
                <input type="text" class="form-control" name="nome" placeholder="Informe o nome do produto" />
            </div>

             <div class="form-grounp">

                <label>Quantidade</label>
                <input type="text" class="form-control"  name="Quantidade" placeholder="Informe a quantide do produto" />
            </div>

            <div class="form-grounp">

                <label>Preço</label>
                <input type="text" class="form-control" name="Preço" placeholder="Informe o Preço do produto" />
            </div>

            <div class="form-grounp">

                <label>Descrição</label>
                <input type="text" class="form-control" name="Descrição" rows="5" />
            </div>

            <button class="btn btn-primary">Salvar</button>
        </form>

    </div>

</div>


@code {

}
