@page "/produtos/novo"
@using AppExemplo.Models;
@inject ProdutoDAO produtoDao;
<PageTitle>Produto - Novo</PageTitle>

<h1>Novo Produto</h1>

<div class="row">

    <div class="col">

        <form>
            <div class="form-grounp mb-4">

                <label>Nome</label>
                <input @bind="_novoProduto.Nome" type="text" class="form-control" name="nome" placeholder="Informe o nome do produto" />
            </div>

            <div class="form-grounp mb-4">

                <label>Quantidade</label>
                <input @bind="_novoProduto.Quantidade" type="text" class="form-control" name="Quantidade" placeholder="Informe a quantide do produto" />
            </div>

            <div class="form-grounp mb-4">

                <label>Preço</label>
                <input @bind="_novoProduto.Preco" type="text" class="form-control" name="Preço" placeholder="Informe o Preço do produto" />
            </div>

            <div class="form-grounp mb-4">

                <label>Descrição</label>
                <input @bind="_novoProduto.Descricao" type="text" class="form-control" name="Descrição" rows="5" />
            </div>

            <button @onclick="Salvar" class="btn btn-primary">Salvar</button>
        </form>

    </div>

</div>


@code {
    private Produto _novoProduto = new();

    private void Salvar()
    {
        produtoDao.inserir(_novoProduto);
    }
}
